#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.checked {
  text-decoration: line-through;
}
.task {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
.cleaning {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
